page-home {
    h4 {
        color: #488AFF;
    }
    p {
        margin: 20px 0;
        text-align: center;
    }
    #btnStart, #btnSubscribe, #btnLogin {
        margin: 5px auto;
        display: block;
    }
}
