page-game {
    $ui-radius: 5px;
    ion-content {
        background-color: #7E57C2!important;
    }

    .content-md {
        color: white!important;
    }

    .question-wrapper {
        position: relative;
        color: #000;
        background-color: #f4f4f4;
        text-align: center;
        border-radius: $ui-radius;
        padding: 40px;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        .category {
            position: absolute;
            top: -2px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #7E57C2;
            color: white;
            padding: 10px 16px 8px 16px;
            border-radius: 0px 0px 5px 5px;
            white-space: nowrap;
            font-size: 1.2rem;
            box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 -3px 1px -2px rgba(0, 0, 0, 0.2), inset 0 -1px 5px 0 rgba(0, 0, 0, 0.12);
        }
    }

    .answers-wrapper {
        margin: 4px -4px 4px;
        display: flex;
        flex-wrap: wrap;
        button {
            flex: 1 0 40%;
            margin: 4px;
            border-radius: $ui-radius;
            text-transform: initial;
            height: 5rem;
        }
    }

    .info-wrapper {
        display: flex;
        flex-wrap: wrap;

        color: white;
        background-color: #0091EA;
        text-align: center;
        border-radius: $ui-radius;
        padding: 10px;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 8px;

        div {
            width: 33%;
        }
    }

    .outcome {
        color: white;
        background-color: #43A047;
        text-align: center;
        border-radius: $ui-radius;
        padding: 10px;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-top: 4px;
        padding: 20px 10px;

        &.wrong {
            background-color: #BF360C;
        }
    }
}
